target/
.mvn/wrapper/maven-wrapper.jar
..*/src/main/**/target/
..*/src/test/**/target/
.neoconf.json
idea/

.idea/

.gitignore
backend/.gitignore
backend/.gitattributes
**/backend/**/.gitignore
**/backend/**/.gitattributes
**/.gitignore
**/.gitattributes
